 
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        
    }
    
    .center {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .form-container {
        width: 100%;
        max-width: 600px;
        margin:  auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box; /
    }
    
    .form-control {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        color: #333;
        
    }
    
    .form-control:focus {
        outline: none;
        border-color: #007bff;
        background-color: #fff;
    }
    input{
        padding: 10px;
        
    }
    .file-input {
    
    display: flex;
    flex-direction: column;
    margin-top:-22px;
    }
    .center h1 {
        font-size: 32px;
        color: #333;
       
    }
    .file-label {
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
    }
    
    .custom-submit-btn {
        display: block; /* Make the button a block-level element */
        width: 100%; /* Set the width to 100% */
        background-color: #363535;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 0; /* Adjust padding as needed */
        margin-top: -30px; /* Add some spacing from the previous input */
        transition: background-color 0.3s ease;
    }
    
    .custom-submit-btn:hover {
        background-color: #e64a19;
    }
    .myform{
        margin-top: -30px;
        
      }
      .form-container{
        margin-top: 100px;
       
      }