
.footer {
    background-color: #0A2209;
    padding: 50px 0;
    color: #fff;
  }
  
  
.col-md-4 h4 {
    color: #06FF00;
    margin-bottom: 20px;
  }
  .col-md-4 {
    margin-top: 30px;
  }

  
  
  .footer p {
    font-size: 20px;
    color: white;
  }
  
  .newsletter input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .newsletter button {
    margin-top: 10px;
  }
  
  
  
  .location-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('path-to-location-icon.png') no-repeat center;
    vertical-align: middle;
  }
  
  .menu-links a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height:  1.8;
    margin-bottom: 20px; 
    transition: color 0.3s ease-in-out;
    padding-top: 10px;
  }
  
  
  .menu-links a:hover {
    color: #06FF00;
  }
  
  .brand-logos img {
    max-width: 80px;
    margin: 10px;
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #666;
  }
  
  .footer p.copyright {
    font-size: 12px;
    margin-top: 20px;
  }
  input[type=submit] {
    background-color: #20931D;
    color: white; 
    border: none;
    border-radius: 40px;
    cursor: pointer;
    float: right;
    padding: 10px;
    width: 20%;
    flex-shrink: 0;
  }
  
  
  @media (max-width: 768px) {
    .footer {
      padding: 30px 0;
    }
  }