*{
    padding: 0;
    margin: 0;
    
    
}
.body{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

img{
    width: 100%;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: none;
    border-radius: 6%;
}
.prix{
    text-align: right;
}
.px,.monnaie{
    width: 100%;
    flex-shrink: 0;
    
    margin-top: 5%;
    
    color: rgba(174, 99, 39, 0.81);
    font-family: Lexend Giga;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title{
    width: 100%;
    flex-shrink: 0;
    
    margin-top: 5%;
    
    color: rgba(174, 99, 39, 0.81);
    font-family: Lexend Giga;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.info{
    
    width: 100%;
    margin-top: 4%;
    color: black;
    font-family: Lao Sans Pro;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left,.right{
    width: 45%;
}


.quote{
    position: absolute; 
    margin-top: 60%; 
    width: 45%;
    margin-left: -47%;
}

h1{
    
    font-family: Playfair Display;
    font-size: 280%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    text-transform: uppercase;
  }
  #contact{
    width: 90%;
    height: 1000px;
    justify-content: center;
    padding:20% 1% 20% 1%;
    border: 20px solid #F2F2F2;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 15px;
  
  }
  
  .form-input input{
    margin-left: 1.5%;
    border-radius: 0 40px 40px 40px;
  }
  #contact label{
    font-size: larger;
  }
  #contact textarea{
    height: 200px;
    margin-left: 1.5%;
    max-height: 220px;
    border-radius: 0 40px 40px 40px ;
  }
  #contact label{
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
  
  }
   #contact #send{
    margin-top:3%;
    margin-right: 14%;
  }
  #contact .form-input .g-recaptcha{
    margin-top: 4%;
    margin-left: 18%;
    border-radius: 20%;
  }
  #contact .form-input .error-msg{
    
    width: 100%;
    color: #9B6808;
  }
  input, select, textarea {
    width: 96%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 60px;
    flex-shrink: 0;
    background: #F2F2F2;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    padding-left: 2%;
  }
  input[type=submit] {
    background-color: #20931D;
    color: white;
    margin-top: 2%;
    margin-right: 16%;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    float: right;
    width: 100px;
    height: 63px;
    flex-shrink: 0;
  }
  .msg{
      height: 60px;
    
  }
  input[type=submit]:hover {
    background-color:#0A2209;
    
  }


@media only screen and (max-width: 974px){
    .body{
        flex-direction: column;
        justify-content: baseline;
        
    }
    .right{
        flex-grow: 1;
        width: 100%;
        margin-top: 0%;
    }
    .prix{
        text-align: center;
    }
    .left{
        width: 100%;
        margin-top: 0%;
        justify-content: center;
        text-align: center;

    }

    .quote{
        position: relative; 
        margin-top: 5%; 
        width: 100%;
        margin-left: 0.2%;
    }

    img{
        width: 70%;
    }
    

}
