

.body{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#image{
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border: none;
  border-radius: 6%;
}
.prix{
  text-align: right;
}
.px,.monnaie{
  width: 100%;
  flex-shrink: 0;
  
  margin-top: 5%;
  
  color: rgba(174, 99, 39, 0.81);
  font-family: Lexend Giga;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title{
  width: 100%;
  flex-shrink: 0;
  
  margin-top: 5%;
  
  color: rgba(174, 99, 39, 0.81);
  font-family: Lexend Giga;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.info{
  
  width: 100%;
  margin-top: 4%;
  color: black;
  font-family: Lao Sans Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.left,.right{
  width: 45%;
}



.quote{
   
  margin-top: 5%; 
  width: 55%;
  margin-left: -6%;
  
}

.quote .container .row h2{
color:#9B6808;
font-family: Playfair Display;
width:140%;
}
.quote  h1{
color:#9B6808;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: Playfair Display;
font-size: 380%;
}
.quote .container .row .col-md-9{
border-radius:4%; border: 20px solid #F2F2F2;
}
.quote .container .row .mb-3 .error-msg{
color:#9B6808;
margin-top: -5%;

}
.quote .container .row .mb-3 .g-recaptcha{
margin-top: 5%;

}
.quote .container .row .form-control{
border-radius: 30px;
height: 60px;
background-color: #F2F2F2 ;
}
.quote label{
font-family: Lato;
font-size: 20px;
}
.quote .container .row button{
width:27%;
 margin-left:65%;
}

.quote .form-input .error-msg{
  margin-left: 40%;
  color: #9B6808;
}
@media only screen and (max-width: 974px){
 
.body{
      flex-direction: column;
      justify-content: baseline;
      
  }
  .right{
      flex-grow: 1;
      width: 100%;
      margin-top: 0%;
  }
  .prix{
      text-align: center;
  }
  .left{
      width: 100%;
      margin-top: 0% !important;
      justify-content: center;
      text-align: center;

  }

  .quote{
       
      margin-top: 5%; 
      width: 100%;
      margin-left: 0.2%;
  }

  #image{
      width: 70%;
  }
 

}
