
/* Centrer le modal verticalement */
.modal-vertical-center {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* Centrer le modal horizontalement */
.modal-horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal-content {
   background-color: #8bc34a;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   border-radius: 12px;
  
}

/* Personnalisez les styles de boutons */
.btn-custom {
    color: #ffffff; /* Couleur du texte */
    background-color: #4caf50; /* Couleur de fond */
    border: none;
}

.btn-custom:hover {
    background-color: #357a38; /* Couleur de fond au survol */
}
.modal-title {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
      /* Personnalisez le style du champ de saisie */
      .form-control {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

/* Style pour le champ de saisie lorsqu'il est en focus */
.form-control:focus {
    border-color: #FFD700; /* Couleur dorée */
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.6); /* Couleur dorée plus claire */
}

.lab {
    font-size: 18px;
    color: #555555; /* Couleur du texte du paragraphe */
    margin-bottom: 15px;
}
#image {
width: 65px;
height: 65px;

}

